header{
    background-color: var(--third-custom-color);
    color: white;
    padding-top: 2.1875rem;
    padding-bottom: 1.5625rem;
}


/* header right */
.ms-main-nav ul{
    display: flex;
    justify-content: flex-end;
}

.ms-main-nav li{
    padding: 0 0.5rem;
}
