/* HERO */
.ms-hero{
    background-color: var(--second-custom-color);
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: white;
}

.ms-hero > img{ 
    margin-bottom: 1.5625rem;
}

/* PORTFOLIUM */
.ms-portfolium{
    text-align: center;
    padding-top: 3.4375rem;
}

.ms-col{
    margin-bottom: 1.875rem;
}

/* ABOUT US */
.ms-about-us{
    background-color: var(--second-custom-color);
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
}

.ms-about-us .ms-col{
    text-align: left;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

/* CONTACT */
.ms-contact{
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
}

/* FOOTER */
.ms-footer-top{
    background-color: var(--first-custom-color);
}