/* HERO */
.ms-hero{
    padding-top: 8.125rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: white;
}

.ms-hero > img{ 
    margin-bottom: 1.5625rem;
    max-width: 15.625rem;
}


/* PORTFOLIUM */
.ms-portfolium{
    text-align: center;
    padding-top: 3.4375rem;
}



.ms-portfolium img{
    width: 100%;
}

/* ABOUT US */
.ms-about-us{
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
    color: white;
}


/* CONTACT */
.ms-contact{
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
}

.ms-contact .ms-col{
    margin-bottom: .625rem;
}
/* FOOTER */
footer{
    color: white;
}

.ms-footer-top{
    background-color: var(--first-custom-color);
    padding-top: 3.75rem;
    padding-bottom: 4.6875rem;
}

.ms-footer-bottom{
    background-color: var(--third-custom-color);
    padding-top: 2.5rem;
    padding-bottom: 3.4375rem;
    text-align: center;
}

.ms-container