/* HERO */
.ms-hero{
    background-color: var(--second-custom-color);
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: white;
}

.ms-hero > img{ 
    margin-bottom: 1.5625rem;
}

/* PORTFOLIUM */
.ms-portfolium{
    text-align: center;
}

.ms-portfolium .ms-col{
    margin-bottom: 30px;
}