body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header h3{
    font-weight: 700;
}

.ms-link{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* MAIN */
h2{
    font-weight: 600;
    font-size: 1.875rem;
}

/* HERO */
h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.ms-hero h3:last-child{
    font-weight: 400;
    font-size: 1.25rem;
    padding-top: .625rem;
}

/* ABOUT US */
.ms-about-us p{
    font-size: 1.25rem;
}



